{% extends 'baseAdmin.html.twig' %}

{% block title %}Projection{% endblock %}

{% block body %}
    
    <div class="content-header sty-one">
      <h1>Liste des projections</h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('app_projection_new') }}" class="btn btn-warning">Enregistrer une projection</a></li>
      </ol>
    </div>
      <div class="content">
         <div class="info-box">
         <div class="table-responsive">

    <table class="table">
        <thead>
            <tr>
                <th>HeureProjection</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projection in projections %}
            <tr>
                <td>{{ projection.id }}</td>
                <td>{{ projection.heureProjection ? projection.heureProjection|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_projection_show', {'id': projection.id}) }}">voir</a>
                    <a href="{{ path('app_projection_edit', {'id': projection.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de projection enregistrée !!!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
    </div>
    </div>
{% endblock %}
