{% extends 'base.html.twig' %}

{% block title %}Projection index{% endblock %}

{% block body %}
    <h1>Projection index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>HeureProjection</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projection in projections %}
            <tr>
                <td>{{ projection.id }}</td>
                <td>{{ projection.heureProjection ? projection.heureProjection|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_projection_show', {'id': projection.id}) }}">show</a>
                    <a href="{{ path('app_projection_edit', {'id': projection.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_projection_new') }}">Create new</a>
{% endblock %}
