{% extends 'baseAdmin.html.twig' %}

{% block title %}Cinema{% endblock %}

{% block body %}
    <h1>Liste Cinema </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Localisation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cinema in cinemas %}
            <tr>
                <td>{{ cinema.nom }}</td>
                <td>{{ cinema.localisation }}</td>
                <td>
                    <a href="{{ path('app_cinema_show', {'id': cinema.id}) }}">Voir</a>
                    <a href="{{ path('app_cinema_edit', {'id': cinema.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cinema_new') }}">Ajouter un nouveau Cinema</a>
{% endblock %}
