{% extends 'baseAdmin.html.twig' %}

{% block title %}Listes des videos{% endblock %}

{% block body %}
    <h1>Liste des videos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Type</th>
                <th>Acteur</th>
                <th>Realisateur</th>             
                <th>Url</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.titre }}</td>
                <td>{{ video.description }}</td>
                <td>{{ video.type }}</td>
                <td>{{ video.acteur }}</td>
                <td>{{ video.realisateur }}</td>
                <td>{{ video.url }}</td>
                <td>{{ video.image }}</td>
                <td>
                    <a href="{{ path('app_video_show', {'id': video.id}) }}">show</a>
                    <a href="{{ path('app_video_edit', {'id': video.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas de video enregistrée !!!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_video_new') }}">Enregister une vidéo</a>
{% endblock %}
