{% extends 'baseAdmin.html.twig' %}

{% block title %}Listes des videos{% endblock %}

{% block body %}
                
                <!-- Content Header (Page header) -->
    <div class="content-header sty-one">
      <h1>Liste des videos</h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('app_video_new') }}" class="btn btn-warning">Ajouter une vidéo</a></li>
      </ol>
    </div>
      <div class="content">
         <div class="info-box">
         <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Titre</th>
                            <th scope="col">Type</th>
                            <th scope="col">Acteur</th>
                            <th scope="col">Realisateur</th>             
                            <th scope="col">Url</th>
                            <th scope="col">actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for video in videos %}
                        <tr>
                            <td>{{ video.titre }}</td>
                            <td>{{ video.type }}</td>
                            <td>{{ video.acteur }}</td>
                            <td>{{ video.realisateur }}</td>
                            <td>{{ video.url }}</td>
                            <td>
                                <a href="{{ path('app_video_show', {'id': video.id}) }}" class="btn btn-warning">Voir</a>
                                <a href="{{ path('app_video_edit', {'id': video.id}) }}" class="btn btn-warning">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10">Pas de video enregistrée !!!</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
         </div>
        </div>
{% endblock %}
